In [1]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv('https://files.grouplens.org/datasets/movielens/ml-100k/u.data', sep='\t', names=['user_id','movie_id','ratings','timestamp'])

In [8]:
user_rating_matrix = df.pivot_table(values = 'ratings', index = 'user_id', columns= 'movie_id')
user_rating_matrix.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Use mean of given movie's ratings to fill in the missing values

In [12]:
mean_movie_rating = user_rating_matrix.mean(axis=0)

In [13]:
mean_movie_rating

movie_id
1       3.878319
2       3.206107
3       3.033333
4       3.550239
5       3.302326
          ...
1678    1.000000
1679    3.000000
1680    2.000000
1681    3.000000
1682    3.000000
Length: 1682, dtype: float64

In [15]:
user_rating_matrix = user_rating_matrix.replace(np.nan,mean_movie_rating)
user_rating_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.000000,3.000000,4.000000,3.000000,3.000000,5.000000,4.000000,1.000000,5.000000,3.000000,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
2,4.000000,3.206107,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,3.896321,2.000000,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
3,3.878319,3.206107,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,3.896321,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
4,3.878319,3.206107,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,3.896321,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
5,4.000000,3.000000,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,3.896321,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,3.878319,3.206107,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,5.000000,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
940,3.878319,3.206107,3.033333,2.000000,3.302326,3.576923,4.000000,5.000000,3.000000,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
941,5.000000,3.206107,3.033333,3.550239,3.302326,3.576923,4.000000,3.995434,3.896321,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
942,3.878319,3.206107,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,3.896321,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0
943,3.878319,5.000000,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,3.000000,3.831461,...,3.0,4.0,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0

In [32]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
user_rating_matrix = scaler.fit_transform(user_rating_matrix)

In [33]:
[U,S,VT] = np.linalg.svd(user_rating_matrix)

In [34]:
S.shape

(943,)

In [35]:
VT.shape

(1682, 1682)

In [36]:
K=100
low_rank_U = U[:, :K]
low_rank_S = np.diag(S[:K])
low_rank_VT = VT[:K,:]
low_rank_approx = np.dot(np.dot(low_rank_U, low_rank_S), low_rank_VT)

In [37]:
low_rank_approx

array([[ 1.68220145,  0.51897315,  2.66232846, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.02191859, -0.09781885, -0.11590257, ...,  0.        ,
         0.        ,  0.        ],
       [-0.04520763, -0.13521442,  0.06663473, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.20649028,  0.05197925,  0.04947903, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.71812744,  0.43513826,  0.03525689, ...,  0.        ,
         0.        ,  0.        ],
       [-0.3167442 ,  1.45596721, -0.45795029, ...,  0.        ,
         0.        ,  0.        ]])

#### pca and svd give same result when centered around mean

#### S represents strength of each genre
#### U denotes mapping of user to genres or latent features
#### V denotes mapping of movies to users

#### square root S into V when predicting missing values while adding it to the user mean rating

In [44]:
sqrt_S =np.sqrt(low_rank_S)
product2= np.dot(sqrt_S ,low_rank_VT)
product1 = np.dot(low_rank_U,sqrt_S)
def predict_ratings(i,j, user_mean):
    ratings = np.dot(product1[i,:], product2[:,j])+user_mean
    return ratings

In [45]:
user_mean_ratings = user_rating_matrix.mean(axis=1)

In [46]:
i,j =1,2
predict_ratings(i,j,user_mean_ratings[i])

-0.11009703414570929

use the VT matrix to find similarity 
find cosine similarity of all the movies with a certain movie


use dataset.make to create a dataset and implement lda